<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Death Analysis And Prediction</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../static/css/fontawesome.css">
    <link rel="stylesheet" href="../static/css/tooplate-main.css">
    <link rel="stylesheet" href="../static/css/owl.css">

  </head>

  <body>

    <div class="sequence">
  
      <div class="seq-preloader">
        <svg width="39" height="16" viewBox="0 0 39 16" xmlns="http://www.w3.org/2000/svg" class="seq-preload-indicator"><g fill="#F96D38"><path class="seq-preload-circle seq-preload-circle-1" d="M3.999 12.012c2.209 0 3.999-1.791 3.999-3.999s-1.79-3.999-3.999-3.999-3.999 1.791-3.999 3.999 1.79 3.999 3.999 3.999z"/><path class="seq-preload-circle seq-preload-circle-2" d="M15.996 13.468c3.018 0 5.465-2.447 5.465-5.466 0-3.018-2.447-5.465-5.465-5.465-3.019 0-5.466 2.447-5.466 5.465 0 3.019 2.447 5.466 5.466 5.466z"/><path class="seq-preload-circle seq-preload-circle-3" d="M31.322 15.334c4.049 0 7.332-3.282 7.332-7.332 0-4.049-3.282-7.332-7.332-7.332s-7.332 3.283-7.332 7.332c0 4.05 3.283 7.332 7.332 7.332z"/></g></svg>
      </div>
      
    </div>
    
        <!--div class="logo">
            <h1>Death Prediction</h1>
            <h2>E</h2>
        </div-->

    <nav class="fixed-nav-bar">
      <h1>Death Analysis And Prediction</h1>
      <ul>
          <li><a href="#4">Analysis</a></li>
          <li><a href="#3">Scatter Plot</a></li>
          <li><a href="#2">Prediction</a></li>
          <li><a href="#1">Introduction</a></li>
          
      </ul>
    </nav>
        <!--nav>
          <ul>
            <li><a href="#1"><img src="static/images/intro-icon.png" alt=""> <em>Introduction</em></a></li>
            <li><a href="#2"><img src="static/images/dp-icon.png" alt=""> <em>Prediction</em></a></li>
            <li><a href="#3"><img src="static/images/scatter-icon.png" alt=""> <em>Scatter Plot</em></a></li>
            <li><a href="#4"><img src="static/images/logo1.png" alt=""> <em>Analysis</em></a></li>
          </ul>
        </nav-->
        
        <div class="slides">
          <div class="slide" id="1">
            <div id="slider-wrapper">
                <div id="image-slider">
                  <ul>
                    <li class="active-img">
                      <div class="slide-caption">
                          <p> Cardiovascular diseases (CVDs) are the number 1 cause of death globally, taking an estimated 17.9 million lives each year, which accounts for 31% of all deaths worlwide.
                    Heart failure is a common event caused by CVDs and this dataset contains 12 features that can be used to predict mortality by heart failure.
                    Most cardiovascular diseases can be prevented by addressing behavioural risk factors such as tobacco use, unhealthy diet and obesity, physical inactivity and harmful use of alcohol using population-wide strategies.
                    People with cardiovascular disease or who are at high cardiovascular risk (due to the presence of one or more risk factors such as hypertension, diabetes, hyperlipidaemia or already established disease) need early detection and management wherein a machine learning model can be of great help.</p>

                        <!--h2>Death Analysis And Prediction</h2-->
                      </div>
                    </li>
                </ul>
                </div>
            </div>
        </div>


  <div class="slide" id="2">
    <br>
			   <h1><b><i><font size=15>Heart Failure Prediction</font></i></b></h1>
          <div style="background-color:white">
              <hr><hr>
          </div>
          <h2>Enter the details to check whether death event took place ot not!</h2>
          <h4><img src="https://hibar-research.org/wp-content/uploads/2019/11/placeholder-300x200.jpeg">

          <form action="{{url_for('predict')}}" method="post">
            <p> Age : <input type='text' name='Age' placeholder='Enter age in years only' required='required' />
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anaemia : <input type='text' name='Anaemia' placeholder='Enter 0 for no 1 for yes' required='required'/></p>
            <p> Creatinine Phosphokinase level : <input type='text' name='Creatinine Phosphokinase' placeholder='mcg/L' required='required' /></p>
            <p> Diabetes : <input type='text' name='Diabetes' placeholder='Enter 0 for no 1 for yes' required='required' /></p>
            <p>Ejection Fraction : <input type='text' name='Ejection Fraction' placeholder='percentage' required='required' /></p>
            <p> High Blood Pressure : <input type='text' name='High Blood Pressure' placeholder='Enter 0 for no 1 for yes' required='required' /></p>
            <p> Platelets : <input type='text' name='Platelets' placeholder='kiloplatelets/mL' required='required' /></p>
            <p> Serum creatinine : <input type='text' name='Serum creatinine' placeholder='mg/dL' required='required' /></p>
            <p> Serum Sodium : <input type='text' name='Serum Sodium' placeholder='mEq/L' required='required' /></p>
            <p> Sex : <input type='text' name='Sex' placeholder='Enter 0 for female 1 for male' required='required' />
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Smoking : <input type='text' name='Smoking' placeholder='Enter 0 for no 1 for yes' required='required' /></p>
            <p> Time : <input type='text' name='Time' placeholder ='Follow-up period (days)' required='required' /></p>
            <button type="submit">Predict</button>
          </form>
          </h4>
          <h2><b>{{ prediction_text }}</b></h2>
	</div>


<!-- For Scatter plot-->
  <div class="slide" id="3">
    <div class="container">
			<br>   <!-- Navigation Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="index.html">Heart Disease</a>
          </div>
      </nav>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <h1>Heart Disease Risk Factors, Is there a corellation?</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-9">
          <div id="scatter">
            <!-- Append Chart Here -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-9">
          <div class="article">
            <h3>Observations between Health Data and Mortality </h3>
            <p>Medical proffessionals are required to analyse vast amounts of data to enable good diagnosis.
              The graph allows the user to interact with numerous data which have been attributed to heart disease and 
              mortality arising from it. 
              What is noted from interacting with this data is that it is impossible to draw any firm conclusions using standard visual or processing
              or regression modelling. 
              This is to say that there may be a corellation between the data and mortality but that human observation cannot 
              find the links. 
              
              </p>
            <br>
            <h3>What other processes could be deployed to make predictions on mortality?</h3>
            <p>Machine Learning is a great tool to use for predictive analytics for "Big Data". The models that can be deployed
              to find links for predictive analytics vary but the objecives remain the same in the analysis of health indicators and mortality associated with heart disease.
              The models we have used are K- Nearest Neighbour (KNN), Random forest, Logistic regression and Support Vector Machine (SVM) to predict an outcome of mortality. Each of these models
              Present their own strengths in prediction. By comparing the succes ratio of these models a preffered model can be used.
  
              
              </p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Footer -->
    <div id="footer">
      <p>&copy; Team 1, Ankita, Kritika, Josh, Will, James </p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script type="text/javascript" src="../static/js/app.js"></script>
			 
			
			
		</div>
  </div>
  
  <!-- For Analysis-->
  <div class="slide" id="4">
    <div class='tableauPlaceholder' id='viz1626176060299' style='position: relative'>
      <noscript><a href='#'><img alt='Death Events ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;De&#47;Deathprediction&#47;DeathEvents&#47;1_rss.png' style='border: none' />
      </a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
      <param name='embed_code_version' value='3' /> 
      <param name='site_root' value='' />
      <param name='name' value='Deathprediction&#47;DeathEvents' />
      <param name='tabs' value='no' />
      <param name='toolbar' value='yes' />
      <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;De&#47;Deathprediction&#47;DeathEvents&#47;1.png' />
      <param name='animate_transition' value='yes' />
      <param name='display_static_image' value='yes' />
      <param name='display_spinner' value='yes' />
      <param name='display_overlay' value='yes' />
      <param name='display_count' value='yes' />
      <param name='language' value='en-GB' />
      </object>
      </div>                
      <script type='text/javascript'>                    
          var divElement = document.getElementById('viz1626176060299');                    
          var vizElement = divElement.getElementsByTagName('object')[0];                    
          if ( divElement.offsetWidth > 800 ) { 
            vizElement.style.width='1709px';
            vizElement.style.height='931px';
          } else if ( divElement.offsetWidth > 500 ) { 
            vizElement.style.width='1709px';vizElement.style.height='931px';
          } else { 
            vizElement.style.width='100%';vizElement.style.height='1477px';
          }                     
          var scriptElement = document.createElement('script');                    
          scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
          vizElement.parentNode.insertBefore(scriptElement, vizElement);                
      </script>
  </div>


    <!-- Bootstrap core JavaScript -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="../static/js/owl.js"></script>
    <script src="../static/js/accordations.js"></script>
    <script src="../static/js/main.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            // navigation click actions 
            $('.scroll-link').on('click', function(event){
                event.preventDefault();
                var sectionID = $(this).attr("data-id");
                scrollToID('#' + sectionID, 750);
            });
            // scroll to top action
            $('.scroll-top').on('click', function(event) {
                event.preventDefault();
                $('html, body').animate({scrollTop:0}, 'slow');         
            });
            // mobile nav toggle
            $('#nav-toggle').on('click', function (event) {
                event.preventDefault();
                $('#main-nav').toggleClass("open");
            });
        });
        // scroll function
        function scrollToID(id, speed){
            var offSet = 0;
            var targetOffset = $(id).offset().top - offSet;
            var mainNav = $('#main-nav');
            $('html,body').animate({scrollTop:targetOffset}, speed);
            if (mainNav.hasClass("open")) {
                mainNav.css("height", "1px").removeClass("in").addClass("collapse");
                mainNav.removeClass("open");
            }
        }
        if (typeof console === "undefined") {
            console = {
                log: function() { }
            };
        }
    </script>

  </body>
</html>